<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anyang_setup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="AYSetup"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anyang_setup"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".Setting.DeveloperActivity"
            android:exported="false" />

        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.Chatting.SubActivity.ChatRoomInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.Chatting.SubActivity.CreateNewChatActivity"
            android:exported="false" />
        <activity
            android:name=".Info.SubActivity.FinalDiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.Chatting.SubActivity.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Spec.AwardsActivity"
            android:exported="false" />
        <!--
<activity
            android:name=".EmploymentDocuments.EmploymentActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Personal.PersonalGptActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Personal.PersonalLockerActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Personal.PersonalEditActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Personal.PersonalMainActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Personal.PersonalWriteActivity"
            android:exported="false" />
        <activity
            android:name=".EmploymentDocuments.SubActivity.Resume.ResumeMainActivity"
            android:exported="false" />
        <activity
            android:name=".EmploymentDocuments.SubActivity.Resume.ResumeWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Spec.ExternalActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Spec.CertificateActivity"
            android:exported="false" />
        <activity
            android:name=".Info.SubActivity.DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".Setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.Chatting.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Resume_test.datamodel.EmploymentDocuments.SubActivity.Spec.SpecActivity"
            android:exported="false" />
        <activity
            android:name=".Info.UserInfoActivity"
            android:exported="false" />
        <!--
<activity
            android:name=".HomeActivity"
            android:exported="false" />
        -->
        <!--
<activity
            android:name=".MakingResume.BicyclesActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".MakingResume.MainActivity_start"
            android:exported="false" />
        <!--
<activity
            android:name=".MakingResume.GeneralPhotosActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".MakingResume.GenerateReportActivity"
            android:exported="false" />
        <activity
            android:name=".MakingResume.HandleSnipersActivity"
            android:exported="false" />
        <activity android:name=".Resume_test.datamodel.EmploymentDocuments.Chatting.SubActivity.ChatMyActivity" />
        <activity
            android:name=".Resume.Resume_MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Resume.EditActivity"
            android:parentActivityName=".Resume.Resume_MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Resume.Resume_MainActivity" />
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>